<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Order Detail</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Order List</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input type="text" class="form-control floating" />
          <label class="focus-label">Order ID</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input type="text" class="form-control floating" />
          <label class="focus-label">Product ID</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input type="text" class="form-control floating" />
          <label class="focus-label">Accessories ID</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="btn btn-success btn-block"> Search </a>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <h3>PRODUCT</h3>
            <thead>
              <tr>
                <th>Order Detail ID</th>
                <th>Name</th>
                <th>Origin Price</th>
                <th>Sale Price</th>
                <th>Category ID</th>
                <th>Source</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Assassin Creed Valhalla</td>
                <td>220000</td>
                <td>200000</td>
                <td>HD</td>
                <td>Ubisoft</td>
                <td class="font-weight-bold">200000</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Assassin Creed Valhalla</td>
                <td>220000</td>
                <td>200000</td>
                <td>HD</td>
                <td>Ubisoft</td>
                <td class="font-weight-bold">200000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table datatable">
            <h3>ACCESSORIES</h3>
            <thead>
              <tr>
                <th>Order Detail ID</th>
                <th>Name</th>
                <th>Origin Price</th>
                <th>Sale Price</th>
                <th>Source</th>
                <th>Quantity</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Bàn phím cơ gaming</td>
                <td>900000</td>
                <td>800000</td>
                <td>Acer</td>
                <td>2</td>
                <td class="font-weight-bold">1800000</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Bàn phím cơ gaming</td>
                <td>900000</td>
                <td>800000</td>
                <td>Acer</td>
                <td>2</td>
                <td class="font-weight-bold">1800000</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Bàn phím cơ gaming</td>
                <td>900000</td>
                <td>800000</td>
                <td>Acer</td>
                <td>2</td>
                <td class="font-weight-bold">1800000</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Bàn phím cơ gaming</td>
                <td>900000</td>
                <td>800000</td>
                <td>Acer</td>
                <td>2</td>
                <td class="font-weight-bold">1800000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
</div>
<!-- /Page Wrapper -->
