<footer class="footer footer-dark" ng-controller="LoginController">
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="widget widget-about">
						<a href="/"><img src="/assets/images/demos/demo-3/logo3.png" class="footer-logo"
							alt="Footer Logo" width="230" height="25"></a>
						
						<p>Chào mừng bạn đến với cửa hàng của chúng tôi, nơi bán các bản việt hóa game chất lượng cao. Trải nghiệm thế giới game đa dạng và cốt truyện sâu sắc, hoàn toàn bằng tiếng Việt tự nhiên.</p>

						<div class="social-icons">
							<a href="#" class="social-icon" title="Facebook" target="_blank"><i
									class="icon-facebook-f"></i></a> <a href="#" class="social-icon" title="Twitter"
								target="_blank"><i class="icon-twitter"></i></a>
							<a href="#" class="social-icon" title="Instagram" target="_blank"><i
									class="icon-instagram"></i></a> <a href="#" class="social-icon" title="Youtube"
								target="_blank"><i class="icon-youtube"></i></a> <a href="#" class="social-icon"
								title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
						</div>
						<!-- End .soial-icons -->
					</div>
					<!-- End .widget about-widget -->
				</div>
				<!-- End .col-sm-6 col-lg-3 -->

				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">Liên kết hữu ích</h4>
						<!-- End .widget-title -->

						<ul class="widget-list">
							<li><a href="/aboutus">Về chúng tôi</a></li>
							<li><a href="#">Chính sách bảo mật</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="/contact">Liên hệ với chúng tôi</a></li>
							<li><a href="/contact">Đóng góp ý kiến</a></li>
						</ul>
						<!-- End .widget-list -->
					</div>
					<!-- End .widget -->
				</div>
				<!-- End .col-sm-6 col-lg-3 -->

				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">Dịch vụ</h4>
						<!-- End .widget-title -->

						<ul class="widget-list">
							<li><a href="/shop">Cửa hàng</a></li>
							<li><a href="/shop/Game">Games</a></li>
							<li><a href="/shop/PK">Phụ kiện</a></li>
							<li><a href="/blog">Bài viết</a></li>
							<li><a href="#">Điều khoản và dịch vụ</a></li>
						</ul>
						<!-- End .widget-list -->
					</div>
					<!-- End .widget -->
				</div>
				<!-- End .col-sm-6 col-lg-3 -->

				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">Tài khoản</h4>
						<!-- End .widget-title -->

						<ul class="widget-list">
							<li><a href="#" ng-click="redirectToLogin()">Đăng nhập</a></li>
							<li><a href="/viewCart">Giỏ hàng</a></li>
							<li><a href="/wishlist">Yêu thích</a></li>
							<li><a href="/profile">Đơn hàng</a></li>
							<li><a href="/contact">Giúp đỡ</a></li>
						</ul>
						<!-- End .widget-list -->
					</div>
					<!-- End .widget -->
				</div>
				<!-- End .col-sm-6 col-lg-3 -->
			</div>
			<!-- End .row -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .footer-middle -->

	<div class="footer-bottom">
		<div class="container">
			<p class="footer-copyright">Copyright © 2023 Sevenbee. All
				Rights Reserved.</p>
			<!-- End .footer-copyright -->
			<figure class="footer-payments">
				<img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
			</figure>
			<!-- End .footer-payments -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .footer-bottom -->
</footer>
<!-- End .footer -->