<div class="wrap-container">
	<div class="image-bg-body"></div>
	<main class="main">
		<div class="error-content text-center" style="background-image: url(/assets/images/backgrounds/error-bg.jpg)">
			<div class="container">
				<h1 class="error-title">Lỗi 404</h1>
				<!-- End .error-title -->
				<p>Chúng tôi vô cùng xin lỗi, trang bạn yêu cầu không có sẵn.</p>
				<a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg"> <span>QUAY LẠI TRANG CHỦ</span> <i class="icon-long-arrow-right"></i>
				</a>
			</div>
		</div>
	</main>
</div>