<div class="wrap-container">
	<div class="image-bg-body"></div>
	<main class="main">
		<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
					<li class="breadcrumb-item active" aria-current="page">Về Chúng Tôi</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->
		<div class="container">
			<div class="page-header page-header-big text-center"
				style="background-image: url('assets/images/about-header-bg.jpg')">
				<h1 class="page-title text-white">
					Về Chúng Tôi<span class="text-white">Chúng Tôi Là Ai</span>
				</h1>
			</div>
			<!-- End .page-header -->
		</div>
		<!-- End .container -->

		<div class="page-content pb-0">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mb-3 mb-lg-0">
						<h2 class="title">Tầm nhìn của chúng tôi</h2>
						<!-- End .title -->
						<p>Cửa hàng trò chơi trực tuyến của chúng tôi
							nhằm mục đích cung cấp cho game thủ trải nghiệm mua sắm thuận tiện và đáng tin cậy.
							Chúng tôi cam kết cung cấp nhiều lựa chọn trò chơi từ các nền tảng và thể loại khác
							nhau, cũng như cung cấp nội dung độc quyền và tổ chức các sự kiện để kết nối cộng đồng
							trò chơi.</p>
					</div>
					<!-- End .col-lg-6 -->

					<div class="col-lg-6">
						<h2 class="title">Sứ mệnh của chúng tôi</h2>
						<!-- End .title -->
						<p>Nhiệm vụ của chúng tôi là làm cho trò chơi có thể tiếp cận được với tất cả mọi người và
							thúc đẩy tính toàn diện và đa dạng trong ngành công nghiệp trò chơi. Chúng tôi cố gắng
							trao quyền cho các game thủ bằng cách cung cấp cho họ các tài nguyên họ cần để thành
							công và thúc đẩy ý thức cộng đồng giữa họ.</p>
					</div>
					<!-- End .col-lg-6 -->
				</div>
				<!-- End .row -->

				<div class="mb-5"></div>
				<!-- End .mb-4 -->
			</div>
			<!-- End .container -->

			<div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 mb-3 mb-lg-0">
							<h2 class="title">Chúng tôi là ai</h2>
							<!-- End .title -->
							<p class="lead text-primary mb-3">Chào mừng bạn đến với SevenBee, cửa hàng một cửa cho
								tất cả các nhu cầu chơi game của bạn. Chúng tôi cung cấp một loạt các sản phẩm chơi
								game, bao gồm bảng điều khiển, trò chơi, phụ kiện, v.v., từ tất cả các thương hiệu
								hàng đầu.</p>
							<!-- End .lead text-primary -->
							<p class="mb-2">Đội ngũ nhân viên hiểu biết và thân thiện của chúng tôi luôn sẵn sàng
								giúp bạn tìm thấy những gì bạn đang tìm kiếm và đưa ra lời khuyên của chuyên gia để
								nâng cao trải nghiệm chơi game của bạn. Tại SevenBee, chúng tôi cố gắng tạo ra một cộng
								đồng vui vẻ và hòa nhập, nơi các game thủ ở mọi cấp độ có thể kết nối và tận hưởng
								niềm đam mê chơi game của họ.</p>

							<a href="#" class="btn btn-sm btn-minwidth btn-outline-primary-2"> <span>XEM TIN TỨC CỦA
									CHÚNG TÔI
								</span> <i class="icon-long-arrow-right"></i>
							</a>
						</div>
						<!-- End .col-lg-5 -->

						<div class="col-lg-6 offset-lg-1">
							<div class="about-images">
								<img src="assets/images/about/img-1.jpg" alt="" width="436px" class="about-img-front">
								<img src="assets/images/about/img-2.jpg" alt="" width="276px" class="about-img-back">
							</div>
							<!-- End .about-images -->
						</div>
						<!-- End .col-lg-6 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .bg-light-2 pt-6 pb-6 -->

			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="brands-text">
							<h2 class="title">Tất cả các thương hiệu thiết kế cao cấp từ khắp nơi trên thế giới có
								thể được tìm thấy ở một điểm đến, SevenBee.</h2>
							<!-- End .title -->
							<p>SevenBee - điểm dừng chân duy nhất cho mọi nhu cầu chơi game của bạn. Chúng tôi có nhiều
								lựa chọn về các thương hiệu trò chơi hàng đầu từ khắp nơi trên thế giới bao gồm EA
								Sports, Rockstar Games và nhượng quyền thương mại Fallout của Bethesda.</p>
						</div>
						<!-- End .brands-text -->
					</div>
					<!-- End .col-lg-5 -->
					<div class="col-lg-7">
						<div class="brands-display">
							<div class="row justify-content-center">
								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/1.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/2.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/3.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/4.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/5.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/6.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/7.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/8.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->

								<div class="col-6 col-sm-4">
									<a href="#" class="brand"> <img src="assets/images/brands/9.png" alt="Brand Name">
									</a>
								</div>
								<!-- End .col-sm-4 -->
							</div>
							<!-- End .row -->
						</div>
						<!-- End .brands-display -->
					</div>
					<!-- End .col-lg-7 -->
				</div>
				<!-- End .row -->

				<hr class="mt-4 mb-6">



			</div>
			<!-- End .container -->

			<div class="mb-2"></div>
			<!-- End .mb-2 -->

			<div class="about-testimonials bg-light-2 pt-6 pb-6">
				<div class="container">
					<h2 class="title text-center mb-3">Khách hàng nói gì về chúng tôi</h2>
					<!-- End .title text-center -->

					<div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
						<blockquote class="testimonial text-center">
							<img src="assets/images/testimonials/user-1.jpg" alt="user">
							<p>
								“ Tôi đã rất hài lòng với dịch vụ chúng tôi cung cấp. Họ đã chứng tỏ rằng chúng tôi
								có những lợi ích của dịch vụ tốt nhất, nhanh chóng và hiệu quả. Khách hàng còn đã
								chứng tỏ rằng họ đã tận hưởng một trải nghiệm tốt nhất khi sử dụng dịch vụ của chúng
								tôi. ”
							</p>
							<cite> Phan Văn Lâm <span>Khách Hàng</span>
							</cite>
						</blockquote>
						<!-- End .testimonial -->

						<blockquote class="testimonial text-center">
							<img src="assets/images/testimonials/user-2.jpg" alt="user">
							<p>“ Tôi đã rất hài lòng với dịch vụ chúng tôi cung cấp. Họ đã chứng tỏ rằng chúng tôi
								có những lợi ích của dịch vụ tốt nhất, nhanh chóng và hiệu quả. Khách hàng còn đã
								chứng tỏ rằng họ đã tận hưởng một trải nghiệm tốt nhất khi sử dụng dịch vụ của chúng
								tôi. ”</p>

							<cite> Hồ Thị Cẩm Tú <span>Khách Hàng</span>
							</cite>
						</blockquote>
						<!-- End .testimonial -->
					</div>
					<!-- End .testimonials-slider owl-carousel -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .bg-light-2 pt-5 pb-6 -->
		</div>
		<!-- End .page-content -->
	</main>
</div>